body {
    margin-top: 50px;
}

.badge{
	background-color: #31708f;
	font-size: 14px;
	padding: 5px 8px;
	text-align: center;
}

.grafica {
    width: 600px;
    height: 512px;
    padding-right: 10px;
    text-align: center;
}

.grafica h1{
	text-align: center;
	margin-bottom: 50px;
}

.grafica button{
	margin-top: 20px;
}
